<h1>I love tacos</h1>
<p>After I submit a post on a place page, I should be returned to that place's page with existing posts.</p>
<ul>
  <li>Carnitas</li>
  <li>Al Pastor</li>
  <li>Steak</li>
  <li>Fish</li>
</ul>